* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

body {
  width: 100vw; 
  height: 100vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.image-container {
  width: 80%; 
  height: 80%; 
  background: url(resources/computer.jpg);
  background-size: 100% 100%;
}

.grid-container {
  position: absolute; 
  top: 14%; 
  left: 40%; 
  border: 1px solid black; 
  display: grid; 
  width: 10rem; 
  height: 10rem; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  z-index: 10; 
}

.grid-box {
  display: flex;
  align-items: center; 
  justify-content: center; 
  font-size: 2rem; 
  border: 1px solid black; 
}
